@import "bourbon/bourbon";
@import "neat/neat";
@import "components/_grid-settings";
h1, h2, h3, h4, h5, h6, p {
  color: #222;
}
.container {
  @include outer-container;
  section { @include span-columns(9); }
  nav {
    @include span-columns(12);
    ul {
      display: inline;
      li {
        list-style: none;
        display: inline;
      }
    }
  }
}
