{% extends "header.html" %}
{% block body %}
<h1 class="usa-grid usa-heading">Blog report!</h1>
<nav id="main-nav" class="usa-grid usa-width-one-half" role="menu">
  <ul>
    <li><a href="/#authors">Authors by month</a></li>
    <li><a href="/issues/">Issues open</a></li>
    <li><a href="/analytics/">Web Analytics</a></li>
  </ul>
</nav>
<section class="usa-width-one-half">
  <h2 id="authors usa-heading">Total authors</h2>
    <p>There are currently {{ data['current'] | length }} authors.</p>
    <p>The number of authors in previous months has been:</p>
    <ul>{% for m in data.months |sort|reverse %}
      <li>{{ m }}: {{ m.authors | length}}</li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
